/**
 * @font-face imports
 *
 *   - Don"t forget the `font-display: swap;` property for each `@font-face` rule: https://developer.mozilla.org/fr/docs/Web/CSS/@font-face/font-display
 *   - Only .woff and .woff2 files are required: https://caniuse.com/#search=woff
 */

/* montserrat-300 - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local("Montserrat Light"), local("Montserrat-Light"),
	url("#{$font-path}montserrat-v14-latin-300.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url("#{$font-path}montserrat-v14-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Montserrat Regular"), local("Montserrat-Regular"),
	url("#{$font-path}montserrat-v14-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url("#{$font-path}montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local("Montserrat Medium"), local("Montserrat-Medium"),
	url("#{$font-path}montserrat-v14-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url("#{$font-path}montserrat-v14-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
	url("#{$font-path}montserrat-v14-latin-600.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url("#{$font-path}montserrat-v14-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-sans-300 - latin */
@font-face {
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local("IBM Plex Sans Light"), local("IBMPlexSans-Light"),
	url("#{$font-path}ibm-plex-sans-v7-latin-300.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url("#{$font-path}ibm-plex-sans-v7-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-sans-regular - latin */
@font-face {
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("IBM Plex Sans"), local("IBMPlexSans"),
	url("#{$font-path}ibm-plex-sans-v7-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url("#{$font-path}ibm-plex-sans-v7-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-sans-500 - latin */
@font-face {
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local("IBM Plex Sans Medium"), local("IBMPlexSans-Medium"),
	url("#{$font-path}ibm-plex-sans-v7-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url("#{$font-path}ibm-plex-sans-v7-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-sans-600 - latin */
@font-face {
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local("IBM Plex Sans SemiBold"), local("IBMPlexSans-SemiBold"),
	url("#{$font-path}ibm-plex-sans-v7-latin-600.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url("#{$font-path}ibm-plex-sans-v7-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
